.battleUI {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 120px;
  background-color: black;
  padding: 10px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.battleUI button {
  background-color: white;
  border: none;
  width: 40px;
  aspect-ratio: 1;

  &:hover {
    background-color: grey;
  }
}

.battleUI__skills {
  display: flex;
  gap: 10px;
}

.battleUI__characterName {
  color: white;

  line-height: 1.5;
}
