@font-face {
  font-family: pixelFont;
  src: url("public/MonoPixelFont.woff2");
}

:root {
  font-family: pixelFont, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1;
  background-color: #242424;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

#game {
  height: fit-content;
  width: fit-content;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#game canvas {
  image-rendering: pixelated;
  display: block;
}
